@model baltaIOCrud.Models.ProductViewModel
@*<h1>

    @ViewBag.UserId

</h1>*@
<h1>Available Products</h1>

@foreach (var product in Model.Products)
{
    <div>
        <h3>@product.Name</h3>
        <p>Price: @product.Price</p>
        <p>Quantity: @product.StockQuantity</p>
        <p>@product.Available</p>
        @*<button onclick="location.href='@Url.Action("Buy", "Purchase", new { productId = product.Id })'">Buy</button>*@
        <td><a asp-action="Buy" asp-controller="Purchase" asp-route-productId="@product.Id" class="btn btn-primary">Buy</a></td>
    </div>
}
